In [1]:
import os
HOCKEY_PATH = os.path.join("datasets", "hockey")

In [2]:
import pandas as pd

def load_hockey_data(hockey_path=HOCKEY_PATH):
    csv_path = os.path.join(hockey_path, "hockey.csv")
    return pd.read_csv(csv_path)

In [3]:
hockey = load_hockey_data()
hockey.head()

     Хозяева             Время Х     Гости        Время Г
0    Торонто            12 38 61  Монреаль           9 39
1  Вашингтон  1 2 24 26 27 35 50    Бостон            NaN
2   Ванкувер      13 41 42 45 59   Калгари          43 48
3   Сан-Хосе                7 37   Анахайм  1 38 48 50 59
4    Баффало                 NaN    Бостон     6 15 36 59

In [4]:
hockey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 4 columns):
Хозяева    656 non-null object
Время Х    625 non-null object
Гости      656 non-null object
Время Г    613 non-null object
dtypes: object(4)
memory usage: 20.6+ KB

In [5]:
hockey["Время Х"].value_counts()

26                   8
12                   7
37                   4
27                   4
11                   4
32                   4
16                   3
56                   3
38                   3
9                    3
1                    3
41                   3
15                   2
17 38                2
14                   2
58                   2
43                   2
36                   2
27 36                2
11 35                2
57                   2
42                   2
54                   2
21                   2
53                   2
34                   2
3 31                 2
52                   2
49                   2
2 8 11 14 19 58      1
                    ..
1 28 48 59           1
3 11 22 47           1
1 49                 1
26 28 39 47          1
23                   1
43 51 57 58          1
7 29                 1
18 25 50 59          1
16 51 58             1
12 30 58 59          1
41 57 64             1
22 32 46 51          1
19 29 59             1
15 26 30             1
16 49 50             1
26 27 29 49 52       1
14 16 58             1
14 39 58             1
17 21 39 50 59       1
12 23 26 32 46       1
29 38 61             1
8 19 27 32 37 53     1
6 50 56 59           1
21 37                1
4 12                 1
21 31 55             1
27 32 33 44 54 59    1
4 12 31 52           1
10 27 47 50          1
32 41                1
Name: Время Х, Length: 571, dtype: int64

In [6]:
hockey.describe()

          Хозяева Время Х     Гости Время Г
count         656     625       656     613
unique         31     571        31     553
top     Сент-Луис      26  Ванкувер      23
freq           24       8        26       5

In [8]:
def count1P(list_time: list):
    count = 0
    if str(list_time) != 'nan':
        for i in list_time:
            if int(i) <= 20 and int(i) != -1:
                count += 1
    return count

In [9]:
hockey['1PHosts'] = hockey['Время Х'].str.split(" ").apply(count1P)

In [10]:
hockey.describe()

          1PHosts
count  656.000000
mean     0.967988
std      0.960540
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      5.000000

In [11]:
hockey.head()

     Хозяева             Время Х     Гости        Время Г  1PHosts
0    Торонто            12 38 61  Монреаль           9 39        1
1  Вашингтон  1 2 24 26 27 35 50    Бостон            NaN        2
2   Ванкувер      13 41 42 45 59   Калгари          43 48        1
3   Сан-Хосе                7 37   Анахайм  1 38 48 50 59        1
4    Баффало                 NaN    Бостон     6 15 36 59        0

In [12]:
hockey.head(-1)

,Хозяева,Время Х,Гости,Время Г,1PHosts
0,Торонто,12 38 61,Монреаль,9 39,1
1,Вашингтон,1 2 24 26 27 35 50,Бостон,NaN,2
2,Ванкувер,13 41 42 45 59,Калгари,43 48,1
3,Сан-Хосе,7 37,Анахайм,1 38 48 50 59,1
4,Баффало,NaN,Бостон,6 15 36 59,0
5,Питтсбург,1 7 21 35 36 42 61,Вашингтон,3 4 8 23 53 53,2
6,Каролина,58,Айлендерс,29 61,0
7,Детройт,27 36,Коламбус,5 33 62,0
8,Оттава,6 12 16,Чикаго,4 10 52 61,3
9,Рейнджерс,27 59,Нэшвилл,23 43 58,0
10,Сент-Луис,54,Виннипег,4 45 46 47 51,0
11,Даллас,24 24 25,Аризона,NaN,0
12,Колорадо,12 30 58 59,Миннесота,6,1
13,Вегас,6 48,Филадельфия,11 18 22 26 27,1
14,Коламбус,12,Каролина,1 26 45,1
15,Лос-Анджелес,17 21,Сан-Хосе,9 13 62,1
16,Нью-Джерси,1 22 23 45 58,Эдмонтон,4 51,1
17,Даллас,8 11 27 47 52,Виннипег,22,2
18,Тампа-Бэй,50 -1,Флорида,5,0
19,Баффало,13 21 59,Рейнджерс,55,1
20,Айлендерс,12 22 39,Нэшвилл,3 16 33 36,1
21,Торонто,21 22 38,Оттава,9 23 24 41 59,0
22,Питтсбург,37,Монреаль,11 15 23 34 50,0
23,Сент-Луис,14 17 43 44,Чикаго,18 21 30 46 62,2
24,Миннесота,9,Вегас,58 -1,1
25,Аризона,NaN,Анахайм,39,0
26,Колорадо,1 12 27 56 58,Филадельфия,7 22,2
27,Калгари,1 17 29 49 54 58 59,Ванкувер,13 16 22 36,2
28,Каролина,9 14 29 39 45 50 51 59,Рейнджерс,1 6 22 31 44,2
29,Чикаго,9 12 25 42 58 59,Торонто,14 14 23 27 49 58 61,2
...,...,...,...,...,...
625,Айлендерс,6 38 61,Чикаго,3 45,1
626,Сент-Луис,4 32 36 45 51,Вашингтон,15 23,1
627,Лос-Анджелес,27 57,Тампа-Бэй,6 7 14 21 37 50,0
628,Питтсбург,14 14 34 56,Виннипег,NaN,2
629,Каролина,5 6 26 59,Коламбус,35 36,2
630,Детройт,24 33 51 64,Нэшвилл,17 23 58,0
631,Даллас,13 63,Вашингтон,30,1
632,Аризона,16 29,Нью-Джерси,1 36 -1,1
633,Колорадо,4 6 32 45 47 53,Рейнджерс,49,2
634,Анахайм,21 22,Вегас,6 30 30,0
635,Оттава,19 28 50,Миннесота,21 34 36 46,1
636,Филадельфия,12 45,Калгари,28 55 61,1
637,Бостон,10 22,Баффало,57,1
638,Торонто,8 14 44 51 54,Ванкувер,NaN,2
639,Флорида,13 18 57,Коламбус,1 37 46 61,2
640,Монреаль,32,Нэшвилл,10 19 33 59,0
641,Сент-Луис,4 16 58,Айлендерс,22 48 48 55,2
642,Лос-Анджелес,3 9 13 50,Эдмонтон,NaN,3
643,Сан-Хосе,9 10 24 45 52,Тампа-Бэй,16 24,2
644,Оттава,22 32 39 39,Каролина,1 4 26 34 47,0
645,Вегас,12 31 35,Нью-Джерси,5 9,1
646,Аризона,7 9 26 35 36,Рейнджерс,NaN,2
647,Виннипег,22 38 41 56 59,Даллас,21,0
648,Детройт,14 26,Вашингтон,6 46 56,1
649,Питтсбург,2 4 29,Чикаго,16 26 36 41 59,2
650,Анахайм,NaN,Эдмонтон,7 16 19 27,0
651,Торонто,NaN,Нэшвилл,24 33 57 59,0
652,Филадельфия,NaN,Сент-Луис,21 51 58,0
653,Монреаль,NaN,Миннесота,46,0
654,Чикаго,16 25 59,Калгари,3 38 41 59,1

In [13]:
hockey.describe()

          1PHosts
count  656.000000
mean     0.967988
std      0.960540
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      5.000000

In [14]:
hockey.describe(-1)

TypeError: 'int' object is not iterable

In [15]:
hockey['1PGuests'] = hockey['Время Г'].str.split(" ").apply(count1P)

In [16]:
hockey.head(-1)

,Хозяева,Время Х,Гости,Время Г,1PHosts,1PGuests
0,Торонто,12 38 61,Монреаль,9 39,1,1
1,Вашингтон,1 2 24 26 27 35 50,Бостон,NaN,2,0
2,Ванкувер,13 41 42 45 59,Калгари,43 48,1,0
3,Сан-Хосе,7 37,Анахайм,1 38 48 50 59,1,1
4,Баффало,NaN,Бостон,6 15 36 59,0,2
5,Питтсбург,1 7 21 35 36 42 61,Вашингтон,3 4 8 23 53 53,2,3
6,Каролина,58,Айлендерс,29 61,0,0
7,Детройт,27 36,Коламбус,5 33 62,0,1
8,Оттава,6 12 16,Чикаго,4 10 52 61,3,2
9,Рейнджерс,27 59,Нэшвилл,23 43 58,0,0
10,Сент-Луис,54,Виннипег,4 45 46 47 51,0,1
11,Даллас,24 24 25,Аризона,NaN,0,0
12,Колорадо,12 30 58 59,Миннесота,6,1,1
13,Вегас,6 48,Филадельфия,11 18 22 26 27,1,2
14,Коламбус,12,Каролина,1 26 45,1,1
15,Лос-Анджелес,17 21,Сан-Хосе,9 13 62,1,2
16,Нью-Джерси,1 22 23 45 58,Эдмонтон,4 51,1,1
17,Даллас,8 11 27 47 52,Виннипег,22,2,0
18,Тампа-Бэй,50 -1,Флорида,5,0,1
19,Баффало,13 21 59,Рейнджерс,55,1,0
20,Айлендерс,12 22 39,Нэшвилл,3 16 33 36,1,2
21,Торонто,21 22 38,Оттава,9 23 24 41 59,0,1
22,Питтсбург,37,Монреаль,11 15 23 34 50,0,2
23,Сент-Луис,14 17 43 44,Чикаго,18 21 30 46 62,2,1
24,Миннесота,9,Вегас,58 -1,1,0
25,Аризона,NaN,Анахайм,39,0,0
26,Колорадо,1 12 27 56 58,Филадельфия,7 22,2,1
27,Калгари,1 17 29 49 54 58 59,Ванкувер,13 16 22 36,2,2
28,Каролина,9 14 29 39 45 50 51 59,Рейнджерс,1 6 22 31 44,2,2
29,Чикаго,9 12 25 42 58 59,Торонто,14 14 23 27 49 58 61,2,2
...,...,...,...,...,...,...
625,Айлендерс,6 38 61,Чикаго,3 45,1,1
626,Сент-Луис,4 32 36 45 51,Вашингтон,15 23,1,1
627,Лос-Анджелес,27 57,Тампа-Бэй,6 7 14 21 37 50,0,3
628,Питтсбург,14 14 34 56,Виннипег,NaN,2,0
629,Каролина,5 6 26 59,Коламбус,35 36,2,0
630,Детройт,24 33 51 64,Нэшвилл,17 23 58,0,1
631,Даллас,13 63,Вашингтон,30,1,0
632,Аризона,16 29,Нью-Джерси,1 36 -1,1,1
633,Колорадо,4 6 32 45 47 53,Рейнджерс,49,2,0
634,Анахайм,21 22,Вегас,6 30 30,0,1
635,Оттава,19 28 50,Миннесота,21 34 36 46,1,0
636,Филадельфия,12 45,Калгари,28 55 61,1,0
637,Бостон,10 22,Баффало,57,1,0
638,Торонто,8 14 44 51 54,Ванкувер,NaN,2,0
639,Флорида,13 18 57,Коламбус,1 37 46 61,2,1
640,Монреаль,32,Нэшвилл,10 19 33 59,0,2
641,Сент-Луис,4 16 58,Айлендерс,22 48 48 55,2,0
642,Лос-Анджелес,3 9 13 50,Эдмонтон,NaN,3,0
643,Сан-Хосе,9 10 24 45 52,Тампа-Бэй,16 24,2,1
644,Оттава,22 32 39 39,Каролина,1 4 26 34 47,0,2
645,Вегас,12 31 35,Нью-Джерси,5 9,1,2
646,Аризона,7 9 26 35 36,Рейнджерс,NaN,2,0
647,Виннипег,22 38 41 56 59,Даллас,21,0,0
648,Детройт,14 26,Вашингтон,6 46 56,1,1
649,Питтсбург,2 4 29,Чикаго,16 26 36 41 59,2,1
650,Анахайм,NaN,Эдмонтон,7 16 19 27,0,3
651,Торонто,NaN,Нэшвилл,24 33 57 59,0,0
652,Филадельфия,NaN,Сент-Луис,21 51 58,0,0
653,Монреаль,NaN,Миннесота,46,0,0
654,Чикаго,16 25 59,Калгари,3 38 41 59,1,1