In [1]:
import os
HOCKEY_PATH = os.path.join("datasets", "hockey")

In [2]:
import pandas as pd

def load_hockey_data(hockey_path=HOCKEY_PATH):
    csv_path = os.path.join(hockey_path, "hockey.csv")
    return pd.read_csv(csv_path)

In [3]:
hockey = load_hockey_data()
hockey.head()

     Хозяева             Время Х     Гости        Время Г
0    Торонто            12 38 61  Монреаль           9 39
1  Вашингтон  1 2 24 26 27 35 50    Бостон            NaN
2   Ванкувер      13 41 42 45 59   Калгари          43 48
3   Сан-Хосе                7 37   Анахайм  1 38 48 50 59
4    Баффало                 NaN    Бостон     6 15 36 59

In [4]:
hockey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 4 columns):
Хозяева    656 non-null object
Время Х    625 non-null object
Гости      656 non-null object
Время Г    613 non-null object
dtypes: object(4)
memory usage: 20.6+ KB

In [5]:
hockey["Время Х"].value_counts()

26                   8
12                   7
11                   4
32                   4
27                   4
37                   4
56                   3
9                    3
1                    3
38                   3
41                   3
16                   3
11 35                2
27 36                2
52                   2
58                   2
53                   2
21                   2
34                   2
3 31                 2
57                   2
54                   2
17 38                2
36                   2
14                   2
42                   2
43                   2
49                   2
15                   2
1 11 17 21 53        1
                    ..
4 26                 1
4 32 36 45 51        1
49 59 59             1
16 25 30 54 54       1
10 30 46             1
2 8 11 14 19 58      1
21 22 38             1
44                   1
10 13 24             1
12 21 25 35 37 52    1
43 59                1
12 31 35             1
6 13 28 63           1
14 17 41             1
10                   1
1 4 9 16 23 45       1
19 29 59             1
1 6 46               1
1 57                 1
4 12                 1
1 2                  1
4 8 11 32 55         1
7 55 59              1
8 24 33              1
18 32 42             1
23 26 34 36 38       1
6 39 44 59           1
6 26 38              1
30                   1
32 -1                1
Name: Время Х, Length: 571, dtype: int64

In [9]:
hockey.describe()

       Хозяева Время Х     Гости Время Г
count      656     625       656     613
unique      31     571        31     553
top     Оттава      26  Ванкувер      23
freq        24       8        26       5

In [10]:
def count1P(serias):
    list_count = []
    j = 0
    while j < serias.count():
        current_seria = serias[j]
        count = 0
        if str(current_seria) != 'nan':
            x = str(current_seria).split(' ')
            for i in x:
                if int(i) <= 20 and int(i) != -1:
                    count += 1
        list_count.append(count)
        j += 1
    new_series = pd.Series(list_count)
    return new_series

In [11]:
hockey['1PHosts'] = count1P(hockey['Время Х'])

In [12]:
hockey.describe()

          1PHosts
count  625.000000
mean     0.964800
std      0.965117
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      5.000000

In [13]:
hockey.head()

     Хозяева             Время Х     Гости        Время Г  1PHosts
0    Торонто            12 38 61  Монреаль           9 39      1.0
1  Вашингтон  1 2 24 26 27 35 50    Бостон            NaN      2.0
2   Ванкувер      13 41 42 45 59   Калгари          43 48      1.0
3   Сан-Хосе                7 37   Анахайм  1 38 48 50 59      1.0
4    Баффало                 NaN    Бостон     6 15 36 59      0.0

In [14]:
hockey.head(-1)

,Хозяева,Время Х,Гости,Время Г,1PHosts
0,Торонто,12 38 61,Монреаль,9 39,1.0
1,Вашингтон,1 2 24 26 27 35 50,Бостон,NaN,2.0
2,Ванкувер,13 41 42 45 59,Калгари,43 48,1.0
3,Сан-Хосе,7 37,Анахайм,1 38 48 50 59,1.0
4,Баффало,NaN,Бостон,6 15 36 59,0.0
5,Питтсбург,1 7 21 35 36 42 61,Вашингтон,3 4 8 23 53 53,2.0
6,Каролина,58,Айлендерс,29 61,0.0
7,Детройт,27 36,Коламбус,5 33 62,0.0
8,Оттава,6 12 16,Чикаго,4 10 52 61,3.0
9,Рейнджерс,27 59,Нэшвилл,23 43 58,0.0
10,Сент-Луис,54,Виннипег,4 45 46 47 51,0.0
11,Даллас,24 24 25,Аризона,NaN,0.0
12,Колорадо,12 30 58 59,Миннесота,6,1.0
13,Вегас,6 48,Филадельфия,11 18 22 26 27,1.0
14,Коламбус,12,Каролина,1 26 45,1.0
15,Лос-Анджелес,17 21,Сан-Хосе,9 13 62,1.0
16,Нью-Джерси,1 22 23 45 58,Эдмонтон,4 51,1.0
17,Даллас,8 11 27 47 52,Виннипег,22,2.0
18,Тампа-Бэй,50 -1,Флорида,5,0.0
19,Баффало,13 21 59,Рейнджерс,55,1.0
20,Айлендерс,12 22 39,Нэшвилл,3 16 33 36,1.0
21,Торонто,21 22 38,Оттава,9 23 24 41 59,0.0
22,Питтсбург,37,Монреаль,11 15 23 34 50,0.0
23,Сент-Луис,14 17 43 44,Чикаго,18 21 30 46 62,2.0
24,Миннесота,9,Вегас,58 -1,1.0
25,Аризона,NaN,Анахайм,39,0.0
26,Колорадо,1 12 27 56 58,Филадельфия,7 22,2.0
27,Калгари,1 17 29 49 54 58 59,Ванкувер,13 16 22 36,2.0
28,Каролина,9 14 29 39 45 50 51 59,Рейнджерс,1 6 22 31 44,2.0
29,Чикаго,9 12 25 42 58 59,Торонто,14 14 23 27 49 58 61,2.0
...,...,...,...,...,...
625,Айлендерс,6 38 61,Чикаго,3 45,NaN
626,Сент-Луис,4 32 36 45 51,Вашингтон,15 23,NaN
627,Лос-Анджелес,27 57,Тампа-Бэй,6 7 14 21 37 50,NaN
628,Питтсбург,14 14 34 56,Виннипег,NaN,NaN
629,Каролина,5 6 26 59,Коламбус,35 36,NaN
630,Детройт,24 33 51 64,Нэшвилл,17 23 58,NaN
631,Даллас,13 63,Вашингтон,30,NaN
632,Аризона,16 29,Нью-Джерси,1 36 -1,NaN
633,Колорадо,4 6 32 45 47 53,Рейнджерс,49,NaN
634,Анахайм,21 22,Вегас,6 30 30,NaN
635,Оттава,19 28 50,Миннесота,21 34 36 46,NaN
636,Филадельфия,12 45,Калгари,28 55 61,NaN
637,Бостон,10 22,Баффало,57,NaN
638,Торонто,8 14 44 51 54,Ванкувер,NaN,NaN
639,Флорида,13 18 57,Коламбус,1 37 46 61,NaN
640,Монреаль,32,Нэшвилл,10 19 33 59,NaN
641,Сент-Луис,4 16 58,Айлендерс,22 48 48 55,NaN
642,Лос-Анджелес,3 9 13 50,Эдмонтон,NaN,NaN
643,Сан-Хосе,9 10 24 45 52,Тампа-Бэй,16 24,NaN
644,Оттава,22 32 39 39,Каролина,1 4 26 34 47,NaN
645,Вегас,12 31 35,Нью-Джерси,5 9,NaN
646,Аризона,7 9 26 35 36,Рейнджерс,NaN,NaN
647,Виннипег,22 38 41 56 59,Даллас,21,NaN
648,Детройт,14 26,Вашингтон,6 46 56,NaN
649,Питтсбург,2 4 29,Чикаго,16 26 36 41 59,NaN
650,Анахайм,NaN,Эдмонтон,7 16 19 27,NaN
651,Торонто,NaN,Нэшвилл,24 33 57 59,NaN
652,Филадельфия,NaN,Сент-Луис,21 51 58,NaN
653,Монреаль,NaN,Миннесота,46,NaN
654,Чикаго,16 25 59,Калгари,3 38 41 59,NaN